<%= form_with(model: post, local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="my-4 d-flex align-items-end justify-content-center">
  <div class="field">
    <%= form.text_area :content, id: "post_content", style: "width: 400px; height: 100px; resize: none;"%>
  </div>
  <div class="actions ml-2">
    <%= form.submit "新規投稿" %>
  </div>
</div>
<% end %>
